.col {
    display: inline-block;
    width: 15%;
    margin-bottom: 30px;
}
.button {
    display: inline-block;
    background: orange;
    color:white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.button:hover {
    background: aqua;
    color:black;
}
.container {
    position: relative;
    height: 30vh;
}
.loginForm {
    position: absolute;
    top:30%;
    left:35%;
    display: inline-block;
    width:300px;
    height: 150px;
    border:1px solid black;
    border-radius: 10px;
}
.password {
    margin: 10px;
    padding: 5px;
    width: 235px;

}
.login {
    margin: 10px;
    padding: 5px;
    width: 235px;

}
.submit {
    margin: 10px;
    padding: 5px;
    width: 250px;
}
.success {
    position: absolute;
    top: 30%;
    left:30%;
    display:none;
}